<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParseAppId</key>
	<string>UsqpQSfvRV2obApPjZbU396Iu0hGmxhFhh9Ixlh7</string>
	<key>ParseClientKey</key>
	<string>fGVfeUkDrwGqoqg1JhPHXF2ClTUglsdzpglk0eFW</string>
	<key>GoogleAPIKey</key>
	<string>AIzaSyCWGC6r3nBvLGtgBCYA4k4I6vu-G58lxBU</string>
</dict>
</plist>
